@import '@fortawesome/fontawesome-free/css/all.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-100;
}



@font-face {
    font-family: "regular";
    src: local("Inter-Regular"),
        url('/fonts/Inter-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "medium";
    src: local("Inter-Medium"),
        url('/fonts/Inter-Medium.ttf') format("truetype");
}

@font-face {
    font-family: "semibold";
    src: local("Inter-SemiBold"),
        url('/fonts/Inter-SemiBold.ttf') format("truetype");
}

@font-face {
    font-family: "bold";
    src: local("Inter-Bold"),
        url('/fonts/Inter-Bold.ttf') format("truetype");
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

/* width */
::-webkit-scrollbar {
  @apply w-1
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-300
}

/* Handle */
::-webkit-scrollbar-thumb {
 @apply bg-gray-400 rounded-lg
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600
}